* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

html, body {
    height: 100%;
}

body {
    background-color: #ebdbb2;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    border: 3px solid #282828;
}

header {
    background-color: orange;  
    border-top: 3px solid #282828;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0.3em 0; 
}

nav {
    display: flex;
    gap: 10px;
}

#content {
    flex: 1;                    /* Grow to fill available space */
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 0;              /* Allow flex shrink */
    padding: 0em;
    box-sizing: border-box;
}

body > div > div {
    border: 3px solid #282828;
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 0 0;
    margin-bottom: 0em;
}

.popup-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.list-window {
    background: #f9f5d7;
    width: 20rem;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #282828;    
}

.list-window-header {
    background-color: orange;
    border-bottom: 3px solid #282828;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 0.2em; 
}

.close-btn {
    background: none;
    border: 3px solid #282828;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    padding: 1em 1em 0em 1em;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
}

.todo-form label {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 0.8em;
}

.todo-form input,
.todo-form textarea,
.todo-form select {
    font-size: 0.9em;
    padding: 0em;
    border: 2px solid #282828;
    background: #f9f5d7;
}

.submit-button, .cancel-button {
    background: #282828;
    color: #f9f5d7;
    
    border: 3px solid #282828;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.list-window-footer {
    color: #f9f5d7;
    padding: 0.3em;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.todo-display {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
    align-items: start;
    padding: 1em;
    box-sizing: border-box;
    overflow: auto;
}

.todo-item {
    border: 2px solid #282828;
    padding: 1em;
    border-radius: 4px;
    background: white;

    width: 350px;
    height: 350px;
    flex: 0 0 auto;
}

.priority-low { border-left: 4px solid green; }
.priority-medium { border-left: 4px solid orange; }
.priority-high { border-left: 4px solid red; }

.delete-todo {
    background: #282828;
    color: #f9f5d7;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    background-color: #282828;
    color: #f9f5d7;
    text-align: center;
    padding: 1.5em;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.credit {
    color: inherit;
    text-decoration: none;
}