* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    background-color: #ebdbb2;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    border: 3px solid #282828;
}

header {
    background-color: #83a598; 
    border-top: 3px solid #282828;
   
    width: 100%;
    padding: 0.5em 0; 
}

.list-add-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 0px 0px 10px 0px;
}

.list-add-btn {
    position: relative;
    display: block;
    
    width: 100%;
    padding: 10px 16px;
    background-color: #fe8019;
    color: #282828;
    font-weight: 800;
    font-size: xx-large;
    text-transform: uppercase;

    border-radius: 6px;
    border: 3px solid #282828;
    box-shadow: 4px 4px #282828;
    cursor: pointer;
    text-align: center
}

.list-add-btn:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: 1px 1px #282828;
}

nav {
    display: flex;
    gap: 3em;
    padding: 0 1.2em;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#content {
    flex: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 0em;
    box-sizing: border-box;
}

body > div > div {
    border: 3px solid #282828;
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 2em 0 0 0;*/
    margin-bottom: 0em;
}

.popup-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.list-window, .task-window {
    background: #f9f5d7;
    width: 20rem;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #282828;    
    border-top: none;
    border-radius: 9px;
    overflow: hidden;
}

.list-window-header, .task-window-header {
    background-color: #83a598;
    border: 3px solid #282828;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2em 1em; 
}

.close-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 0px 0px 10px 0px
}


.close-btn {
    position: relative;
    display: block;
    
    width: 95%;
    padding: 10px 16px;
    background-color: #fe8019;
    color: #282828;
    font-weight: 800;
    font-size: xx-large;
    text-transform: uppercase;

    border-radius: 6px;
    box-shadow: 4px 4px #282828;
    text-align: center;

    background: none;
    border: 3px solid #282828;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: 1px 1px #282828;
}

.todo-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    padding: 1em;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
}

.todo-form label {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 0.8em;
}

.todo-form input,
.todo-form textarea,
.todo-form select {
    font-size: 0.9em;
    padding: 0em;
    border: 2px solid #282828;
    background: #f9f5d7;
}

.submit-button, .cancel-button, .delete-button {
    background: #282828;
    color: #f9f5d7;
    
    border: 3px solid #282828;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.list-window-footer, .task-window-footer {
    color: #f9f5d7;
    padding: 0.3em;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.todo-display {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
    align-items: start;
    padding: 1em;
    box-sizing: border-box;
    overflow: auto;
}

.todo-item {
    border: 3px solid #282828;
    padding: 1em;
    border-radius: 6px;
    background: #f9f5d7;
    font-size: 24px;

    width: 400px;
    height: 600px;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.todo-content, .task-content {
    border-bottom: 3px solid #282828;
}

.todo-content > p, .task-content > p {
    font-size: 20px;
}


.task-item {
    border: 3px solid #282828;
    padding: 1em;
    font-size: 12px;
}



.priority-low { border-left: 4px solid #b8bb26; }
.priority-medium { border-left: 4px solid #fe8019; }
.priority-high { border-left: 4px solid #fb4934; }

.todo-item-footer, .task-item-footer {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.todo-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 0px 0px 10px 0px;
}

.todo-item-footer > div > button, .task-item-footer > div > button {
    position: relative;
    display: block;
    
    width: 100%;
    padding: 10px 16px;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;

    border-radius: 6px;
    border: 3px solid #282828;
    box-shadow: 4px 4px #282828;
    text-align: center;
    
    background: #fe8019;
    color: #282828;
    padding: 0.3em 0.6em;
    cursor: pointer;
}

.task-item-footer > div > button {
    font-size: 20px;
}

.todo-item-footer > div > button:active, .task-item-footer > div > button:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: 1px 1px #282828;
}

.footer {
    background-color: #282828;
    color: #f9f5d7;
    text-align: center;
    padding: 1.5em;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.credit {
    color: inherit;
    text-decoration: none;
}